.impossibilities {
    text-align: center;
}

.impossibilities .default {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    resize: none;
}

.impossibilities .rejected {
    background-color: lightcoral;
    transition: all 200ms ease-in;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    resize: none;
}

.impossibilities .accepted {
    background-color: lightgreen;
    transition: all 200ms ease-in;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    resize: none;
}

.impossibilities .buttons {
    margin: 0.6em;
    max-width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    border-color: var(--accent-clr);
    border-radius: 10px;
}

.buttons:hover {
    background-color: var(--accent-clr);
    color: white;
    transition: all 200ms ease-in;
}
