.table-results {
    width: 96%;
    margin: 2%;
<<<<<<< HEAD
    
}

th, td{
    border: 0.5px solid;
}

thead{
    background-color: lightgray;
}
  
=======
}

th,
td {
    border: 0.5px solid;
    text-align: center;
}

thead {
    background-color: lightgray;
}
>>>>>>> develop
