:root {
    --header-h: 3.5rem;
}

.App {
    margin: 0;
    padding: 0;
}

.App-body {
    background-color: var(--bs-gray-300);
    min-height: calc(100vh - var(--header-h));
    padding: 1em;
    display: flex;
    justify-content: center;
}

.App-header {
    background-color: #282c34;
    height: var(--header-h);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 3em auto;
}

.App-header ul {
    list-style: none;
    font-size: calc(8px + 1vmin);
    display: flex;
    flex-direction: row;
    margin: 0;
}

.App-header ul li {
    margin: 0 1.25em;
    display: flex;
    align-items: center;
    border-radius: 0.125em;
}

.App-header a {
    color: white;
    text-decoration: none;
}

.App-header a:hover {
    opacity: 75%;
}

.App-header li[data-active="true"] a {
    text-decoration: underline;
}

label {
    margin-bottom: 0.25em;
}

title {
    display: block;
}

.App-header a {
    color: white;
    text-decoration: none;
}

.App-header a:hover {
    opacity: 75%;
    /* text-decoration: underline; */
}

.App-link {
    color: #61dafb;
}

.list-group-item span {
    vertical-align: middle;
}

.rw-time-input-clear > svg {
    opacity: 1;
}

.app .table-results {
    border-collapse: separate;
    border-spacing: 0.2em;
}

.app .table-results th,
.app .table-results td {
    border: none;
    border-radius: 0.1em;
    vertical-align: middle;
}

.dragDropField {
    width: 100%;
    height: 80%;
    background-color: white;
    /* border: 5px solid blue; */
}

.alertContainer {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    pointer-events: none;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    transition: opacity 500ms ease-in-out;
    opacity: 1;
    margin-bottom: 0.5em;
    font-size: larger;
    align-items: center;
}

.alert:last-child() {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

.floatingActionBtn {
}

:where(button, input):where(:not(:active)):focus-visible {
    outline-offset: 5px;
}
