body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: overlay;
    --accent-clr: #fd9452;
    --accent-clr-2: #f47500;
    --accent-clr-3: #ef4765;
    --light-green: #409d4f;
    --dark-green: #03761c;
    --bg-primary: #1e151f;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: 1px dashed rgba(138, 133, 133, 0.627);
    border-radius: 3px;
    transition: 0.2s;
    color: black;
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(219, 217, 217, 0.878);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-message {
    font-size: medium;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.mt-100 {
    margin-top: 100px;
}

.lecturer-questionnaire-buttons {
    text-align: left;
    width: 90%;
    margin: 1.2em;
    max-width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

.lecturer-questionnaire-buttons > div {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
}

.lecturer-questionnaire-buttons > div a {
    color: var(--bg-primary);
    border: 2px solid var(--accent-clr);
    background-color: var(--bs-gray-100);
    text-decoration: none;
    padding: 0 1em;
    border-radius: 10px;
    transition: all 200ms ease-in;
}
.lecturer-questionnaire-buttons > div a:hover {
    background-color: var(--accent-clr);
    color: white;
    transition: all 200ms ease-in;
}

.lecturer-questionnaire-buttons > div > span {
    width: 13em;
    margin: 0.2em;
}


.error{
    color:red;
    font-size: 1.2em;
}

.input-error{
    display: block;
    padding: 5px;
}

.center-content{
    text-align: center;
}