.switch {
    position: relative;
    height: 2.5rem;
    width: 21em;
    background-color: #e4e4e4;
    border-radius: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.25); */
    display: flex;
    justify-content: space-around;
}

.radioInput {
    display: none;
}

.radioLabel {
    position: relative;
    z-index: 2;
    float: left;
    width: 7em;
    margin: 0;
    line-height: 2.5rem;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    cursor: pointer;
    transition: color 300ms ease;
}

.radioInput:checked + .radioLabel {
    /* transition: 0.15s ease-out; */
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
    transition: font-weight 200ms ease;
    color: #fff;
    font-weight: 500;
}

.switchSelection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 7em;
    height: 2.5rem;
    background: var(--accent-clr);
    border-radius: 15px;
    transition: left 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* box-shadow: 0 0 2px 1px var(--accent-clr); */
}

.app table tr th:empty {
    padding: 0;
}

.backArrow {
    transform: rotate(180deg);
    top: 1rem;
    left: 1rem;
    position: absolute;
}

.backArrow button {
    border: none;
    border-radius: 50%;
    width: 2.25em;
    height: 2.25em;
    transition: all 120ms ease-in;
}

.backArrow button:hover {
    background-color: var(--accent-clr);
    color: whitesmoke;
}
